.header {
  background-color: var(--gray-800);
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 1.25rem 0;
  height: 80px;
  align-items: center;
}

.header span {
  font-size: 1.57rem;
  font-weight: bold;
  color: var(--gray-100);
  line-height: 1.6;
}

.header img {
  height: 2rem;
}
